.chart{
    margin-top: 0px;
}
.cards-admin{
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
    border-radius: 30px;
    margin-bottom: 150px;
  }
  .admin-bg{
    background: #c1bdb457;
    height: 100vh
  }