*, *::before, *::after {
    box-sizing: border-box;
}



  .withdraw-background  {
    background: linear-gradient(to right, #111111,#0e1136) !important;
    height: 100vh;
    animation: colorChange 10s ease-in-out infinite;
  }
  
  
  
  
  
 
/*-------------------- Buttons --------------------*/
.btn {
    display: block;
    background: #4e4e4d;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.btn::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.btn:hover::after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}
/* .btn-social {
    padding-left: 64px;
    position: relative;
    z-index: 1;
}
.btn-social .fa {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    line-height: 3.2;
    border-radius: 5px 0 0 5px;
} */


/*-------------------- Form --------------------*/
.Form fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
    position: relative;
}
.Form fieldset input {
    width: 100%;
    height: 46px;
    color: #333;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    font-size: 14px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    vertical-align: top;

}
.Form button {
    width: 100%;
    outline: none !important;
    background: linear-gradient(-5deg,  #111111,#0e1136);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0px rgba(115, 136, 89, 0.2);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
/*-------------------- Signup --------------------*/
.withdraw {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 900px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    height: 500px ;
}

.withdraw-connect-mechanic , .withdraw-classic {
    width: 50%;
    padding: 50px 50px ; 
}
.withdraw-connect-mechanic  {
    
    margin-top: 50px ;
    background-image: url("https://img.freepik.com/free-photo/3d-render-online-payment-transaction-security_107791-16637.jpg?w=826&t=st=1687508468~exp=1687509068~hmac=b98f81367c3ec9836b2700237e6526ec0c985632a5b99f9c1a7891eaa6dd05f4") ; 
    background-size: contain ;
    background-repeat: no-repeat ;
}
 
.errorMessage{
    height: 15px;
    padding-top: 13px;
    text-align: center;
    color: orangered;
}
@media(max-width:850px) {
    .withdraw{
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 681px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;
        height: 475px;
    }
    .withdraw-connect-mechanic ,   .withdraw-classic{
        width: 50%;
        padding: 26px 50px ; 
        
    
    }
    .withdraw-connect-mechanic {
        margin-top: 54px ;
    }
    
    
  }

  @media(max-width:700px) {
    .withdraw{
        width: 338px;
        height: 485px;
    }
    .withdraw-connect-mechanic{
        width: 0%;
        padding: 0 -0;
        margin-top: 0 ;
        background-image: none; 
        background-size: contain ;
        background-repeat: no-repeat  ;
    }
     .withdraw-classic {
       width: 101%;
       padding: 38px 50px;
    }
    
  }

 