.dashboard-background{
    background: linear-gradient(to right, #111111,#0e1136) !important;
    height: 100vh;
    padding-top: 1px;
}

.cards-mechanics {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 180px;
    border-radius: 30px;
    margin-bottom: 150px;
  }
  
  .cards-mechanics-time {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-left: 140px;
  }
  
  @media (max-width: 768px) {
    .cards-mechanics-time {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .cards-mechanics-time {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .mechanic-schedule-btn{
    position: absolute !important;
    bottom: 5% !important;
    right: 8% !important;
    width: 8%;
    font-size: 25px;
    font-family: Monomaniac One, sans-serif;
    border-radius: 6px;
    background: #d9f3bc;
  }
  .cards-mechanics-time .MuiCard-root {
    transition: background-color 0.3s ease;
  }
  