

  .dashboard-background {
    background: linear-gradient(to right, #111111, #0e1136) !important;
    height: 100vh;
    padding-top: 1px;
  }
  
  .cards-mechanics {
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 180px;
    border-radius: 30px;
    margin-bottom: 150px;
  }
  
  .card-body-schedule {
    border-radius: 15px;
    width: 280px;
    height: 160px;
    border: 4px solid rgb(29, 241, 29);
    margin-right: 20px;
    max-width: 180px;
  }
  
  .cards-mechanics-time {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-left: 140px;
  }
  
  .mechanic-schedule-btn {
    position: absolute !important;
    bottom: 5% !important;
    right: 5% !important;
    width: 8%;
    font-size: 25px;
    font-family: Monomaniac One, sans-serif;
    border-radius: 6px;
    background: #d9f3bc;
  }
  .card-time-body{
    border-radius: 15px;
    width: 280px;
    height: 70px;
  }
  .card-time-font{
    font-family: unset;
    text-align: center;
    font-size: 25px !important;
  }
  .card-value{
    font-family: Monomaniac One, sans-serif !important;
    text-align: center !important;
    margin-top: -17px !important;
  }
  .card-title{
    font-family: Monomaniac One, sans-serif !important;
    text-align: center !important;
    font-size: 35px !important;
  }

  @media (max-width: 800px) {
    .cards-mechanics {
      display: flex;
      overflow-x: auto;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 86px;
      padding-left: 374px;
      overflow-y: hidden;
      border-radius: 0px;
      margin-bottom: 150px;
  }
  .no-slot {
    position: absolute;
    left: 28% !important;
    color: white;
}
  .cards-mechanics::-webkit-scrollbar {
    display: none;
}
    .card-inner{
      height: 112px;
      width: 100px;
      display: flex;
      align-items: center;
    }
    .card-body-schedule {
      margin-bottom: 0;
      scroll-snap-align: start;
      border-radius: 15px;
      width: 950px !important;
      height: 94px;
      margin-right: 20px;
      max-width: 180px;

  }
    .cards-mechanics-time {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 12px;
      margin-top: -109px;
      margin-left: 27px;
  }
    .card-time-body {
      border-radius: 4px;
      width: 82px;
      height: 39px;
  }
  .card-time-font{
    font-family: unset;
    text-align: center;
    font-size: 11px !important;
  }
  .mechanic-schedule-btn {
    position: absolute !important;
    bottom: 5% !important;
    right: 7% !important;
    width: 19%;
    font-size: 18px;
    font-family: Monomaniac One, sans-serif;
    border-radius: 6px;
    background: #d9f3bc;
}
  .dashboard-background {
    background: linear-gradient(to right, #111111, #0e1136) !important;
    height: 100vh;
    padding-top: 1px;
  }
  .card-value{
    font-family: Monomaniac One, sans-serif !important;
    text-align: center !important;
    margin-top: -45px !important;
    font-size: 53px !important;
    padding-top: 13px !important;
  }
  .card-title{
    font-family: Monomaniac One, sans-serif !important;
    text-align: center !important;
    font-size: 25px !important;
  }
  }
  
 
  .cards-mechanics-time .MuiCard-root {
    transition: background-color 0.3s ease;
  }
  
  .no-slot {
    position: absolute;
    left: 44%;
    color: white;
  }
  