.background{
    background: linear-gradient(to right, #111111,#0e1136) !important;
    height: 90vh;
    display: flex;
}
.background-img{
    width: 250px;
    position: absolute;
    left: 25%;
    top: 20%;
}
.quotesStyle{
    color: white;
    font-family: monospace;
    position: absolute;
    top: 46%;
    left: 20%;
    line-height: 55px;
    font-size: 36px;
    font-weight: bolder;
}
.secondPage{
    background-color: #f6ad55 ;
    height: 30vh;
}

.animated-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: showText 15s steps(40, end) infinite;
    border-right: 0.15em solid #f3e7e700;
    color: white;
    font-family: monospace;
    position: absolute;
    top: 46%;
    left: 20%;
    line-height: 55px;
    font-size: 36px;
    font-weight: bolder;
  }
 

  @keyframes showText {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  }