.dashboard-background{
    /* background: linear-gradient(to right, #111111,#0e1136) !important; */
    background: #cfc7b1;
    height: 1200px;
    padding-top: 1px;
}
 
.nav-bg{
    background: linear-gradient(to right, #111111,#0e1136) !important;

}
.cards-mechanics{
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 170px;
    border-radius: 30px;
    margin-bottom: 150px;
  }
  .table-div{
    margin: 100px;
    margin-top: 180px;
  }
  .serviceschedule-btn{
    position: absolute;
    top: 13%;
    right: 6%;
  }
  .bookingdetials-background{
    background: linear-gradient(to right, #111111,#0e1136) !important;
    height: 100vh;
}
.bookingdetials-inner-div{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 1000px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 600px ;
    display: flex;
}
.bookingdetials-heading{
  text-align: center;
  margin: 20px;
  font-family: 'Monomaniac One', sans-serif;
  margin-top: 20px;
}
.bookingdetials-inner-right{
  width: 50%;
  height: 600px ;
}
.bookingdetials-inner-left{
  width: 50%;
  height: 600px ;
}
.bookingdetials-para{
    margin: 5px;
    margin-left: 100px;
    text-align: left;
    font-family: serif;
}
.status-save-button{
    height: 49px;
    margin-top: 8px !important;
     
}