.navBG{
    background: linear-gradient(to right, #111111,#0e1136) !important;
 
   
}
.navbar {
    transition: all 0.3s;
  }
  
  .navbar-toggler {
    border-color: transparent;
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-color: #6e6e70;
  }
  
  .navbar-nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-link {
    color: #f0eeee;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .nav-link:hover {
    color: #888;
  }
  