.navBG{
    background: linear-gradient(to right, #111111,#0e1136) !important;
 
   
}
.nav-properties{
  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 10;
}
.LogoName{
  margin-left: 62px;
  color: #f8f9fa;
  margin-top: 5px;
  font-size: 28px;
  font-family: monospace;
  width: 173px;
  font-weight: bolder;
}
.navbar {
    transition: all 0.3s;
  }
  
  .navbar-toggler {
    border-color: transparent;
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-color: #6e6e70;
  }
  
  .navbar-nav {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: monospace;

  }
  
  .nav-item {
    padding: 0 15px;
  }
  
  .nav-link {
    color: #f0eeee;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .nav-link:hover {
    color: #888;
  }
  @media(max-width:1500px) {

  .LogoName {
    margin-left: 62px;
    color: #f8f9fa;
    margin-top: 5px;
    font-size: 21px;
    font-family: monospace;
    font-weight: bolder;
    width: 150px;
 }
  }

  @media(max-width:700px) {
 
    .container{
      margin-top: -56px;
    }
    .LogoName{
      margin-left: 29px;
      color: #f8f9fa;
      margin-top: 5px;
      font-size: 25px;
      font-family: monospace;
      font-weight: bolder;
  }
  .nav-background{
    background: linear-gradient(to right, #111111,#0e1136) !important;
  }
  .nav-properties{
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 10;
  }
  }